.admin-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  text-align: center;
}

.admin-buttons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.admin-btn {
  background-color: #0070f3;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.admin-btn:hover {
  background-color: #0055b3;
}
